/* font name:
    font-family: 'Futura', sans-serif;
*/

/* font style. start */

p,
a,
h1,
h2 {
    font-family: 'Futura', sans-serif;
    font-style: normal;
    color: #fff;
}

p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}

a {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
}

.speed-extension {
    margin-top: 20px;
    width: 761px;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
}

.learn-in-an-hour {
    margin-top: 30px;
    margin-bottom: 45px;
    width: 400px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

/* font style. end */
/* header. start */
.header {
    margin: auto;
    position: static;
    width: 1440px;
    height: 145px;
    background: #4c3d74;
}

.burger-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 105px;
    padding-left: 140px;
    width: calc(1440px - (140px * 2));
    height: 40px;
}

.burger-menu {
    display: flex;
    justify-content: space-between;
    width: 535px;
}

/* header. end */
/* main. start */
/* section1. start */
.world-first-intensive {
    margin: auto;
    padding-top: 105px;
    position: relative;
    background: #4c3d74;
    width: 1440px;
    height: calc(800px - 145px - 105px);
}


.first-intensive-text {
    width: 312px;
}

.first-section-text-conteiner {
    padding-left: 140px;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    width: 245px;
    height: 60px;
    background: #a387c4;
    border-radius: 30px;
    border: none;
}

.button-style:hover {
    width: 239px;
    height: 54px;
    border: 3px solid #a387c4;
    background: #4c3d74;
}

.first-section-button-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 515px;
    height: 60px;
}

.smileFace {
    position: absolute;
    width: 472px;
    height: 472px;
    left: 900px;
    top: 0px;
    background: url('./assets/svg/holiday.svg');
}

/* section1. end */

/* section2. start */
.section-who-are-you {
    display: flex;
    flex-direction: column;

    margin: auto;
    width: 1440px;
    height: 710px;
    background: #e5e5e5;
}

.superwoman-picture {
    position: absolute;
    width: 243px;
    height: 243px;
    left: 1037px;
    top: 1267px;
    background: url('./assets/svg/super.svg');
}

.charge-become-famous-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(510px + 30px + 245px);
    padding-left: 140px;
    padding-top: 45px;
}

.if-you-text {
    padding-left: 325px;
    padding-top: 175px;
    color: #4c3d74;
}

.reasons-wrapper {
    padding-left: 125px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 1190px;
}

.reason-conteiner {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 380px;
    height: 140px;
}

.first-reason-smile {
    position: absolute;
    left: 125px;
    top: 1100px;
    width: 89px;
    height: 89px;
    background: url('./assets/svg/sad.svg');
    background-size: cover;
}

.second-reason-smile {
    position: absolute;
    left: 530px;
    top: 1100px;
    width: 89px;
    height: 89px;
    background: url('./assets/svg/student.svg');
    background-size: cover;
}

.third-reason-smile {
    position: absolute;
    left: 935px;
    top: 1100px;
    width: 89px;
    height: 89px;
    background: url('./assets/svg/woman.svg');
    background-size: cover;
}

.reason-text-conteiner {
    display: flex;
    align-items: center;
    width: 335px;
    height: 132px;
    background: #f2eef7;
    border: 3px solid #4C3D74;
    border-radius: 30px;
}

.first-reason-text {
    padding-left: 60px;
    width: 220px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4C3D74;
}

.second-reason-text {
    padding-left: 60px;
    width: 220px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4C3D74;
}

.third-reason-text {
    padding-left: 60px;
    width: 220px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #4C3D74;
}

.text-size-increased {
    font-weight: 700;
}

.become-a-master-text {
    width: 510px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #4C3D74;
}

/* section2. end */

/* section3. start */

.who-and-what-awaits-you {
    margin: auto;
    width: 1440px;
    height: 1380px;
    background: #4c3d74;
    ;
}

.on-intensive-text {
    margin: auto;
    padding-top: 170px;
    width: 780px;
}

.what-is-waiting-for-you-container {
    width: 1180px;
    height: 160px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.star-smile {
    margin-right: 6px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background: url('./assets/svg/stars.svg');
}

.heart-smile {
    margin-right: 6px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background: url('./assets/svg/love-standart.svg');
}

.money-smile {
    margin-right: 6px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background: url('./assets/svg/money.svg');
}

.gift-smile {
    width: 66px;
    height: 66px;
    background-size: cover;
    background: url('./assets/svg/gift.svg');
}

.on-intensive-font {
    margin-left: 25px;
    width: 300px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.on-intensive-bold-font {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.at-the-intensive {
    height: 66px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* part 2... Ворман и тд */

.vorman {
    width: 870px;
    margin: auto;
    margin-top: 145px;
}

.photo-of-the-coach {
    width: 399px;
    height: 491px;
    background: url('./assets/img/MARIA_LYADOVA.jpg');
}

.about-julia-vorman-container {
    padding-left: 140px;
    height: 520px;
    width: 675px;
}

/* section3. end */